.skills {

    margin-top: 30px;

    &__title {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 34px;
        font-size: var(--font-size-big);
        font-weight: 600;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 27px;
    }
    &__item {
        max-width: 270px;
        padding: 30px 35px;
        border-radius: 30px;
        text-align: center;
        background-color: #EAF2F5;
        
    }

    &__icon {
        display: block;
        margin: 0 auto;
        margin-bottom: 18px;
    }

    &__item-title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    &__paragraph {
        font-size: var(--font-size-small);
    }
}